<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      Appraisal For
      <b>{{formInfo['firstName']}} {{formInfo['middleName']}} {{formInfo['lastName']}} ({{formInfo['EmployeeId']}})</b>
      as {{formInfo['appraisalRoleName']}}
    </div>
    <div class="card-body">


      <div class="row">

        <table class="table">
          <thead>
          <tr>
            <th width="70%">Question</th>
            <th width="30%">Answer</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of questions;let i = index">
            <td>

              <input type="hidden" class="form-control" [(ngModel)]="headData[i].id">
              <input type="text" disabled class="form-control" [(ngModel)]="headData[i].headName">


              <!--                {{data['headName']}}-->

            </td>

            <td>
              <select class="form-control" *ngIf="data['headType'] == 'NM'" [(ngModel)]="headData[i].ans">
                <option value="5">Excellent</option>
                <option value="4">Good</option>
                <option value="3">Average</option>
                <option value="2">Below Average</option>
                <option value="1">Poor</option>
              </select>
              <input type="text" placeholder="write something" class="form-control" [(ngModel)]="headData[i].ans"
                     *ngIf="data['headType'] == 'DS'">

              <select class="form-control" *ngIf="data['headType'] == 'TF'" [(ngModel)]="headData[i].ans">

                <option value="1">True</option>
                <option value="0">False</option>
              </select>
            </td>


          </tr>


          </tbody>
        </table>


      </div>

      <div class="row">
        <div *ngFor="let data of groupQues;let i = index" class="col-md-12">


          {{data.head['headName']}}
          <table class="table table-bordered">

            <tr *ngFor="let data2 of data['child'];let ii = index" class="col-md-12">
              <td width="70%">{{data2['headName']}}</td>
              <td width="30%">

                <select class="form-control" *ngIf="data2['headType'] == 'NM'" [(ngModel)]="groupQues[i].child[ii].ans">
                  <option value="5">Excellent</option>
                  <option value="4">Good</option>
                  <option value="3">Average</option>
                  <option value="2">Below Average</option>
                  <option value="1">Poor</option>
                </select>

                <input type="text" placeholder="write something" class="form-control"
                       *ngIf="data2['headType'] == 'DS'" [(ngModel)]="groupQues[i].child[ii].ans">

                <select class="form-control" *ngIf="data2['headType'] == 'TF'" [(ngModel)]="groupQues[i].child[ii].ans">

                  <option value="1">True</option>
                  <option value="0">False</option>
                </select>
              </td>
            </tr>

          </table>


        </div>
      </div>
      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-success " (click)="onSubmit()">submit</button>
<!--        <button type="button" class="btn btn-success " (click)="getAppraisorForm()">get info</button>-->
      </div>

    </div>
  </div>


</div>
