<div class="container">
  <div class="card">
    <div class="card-header-pills">
      <h3 align="center" style="font-family: 'Righteous', cursive;">Leave</h3>
    </div>
    <div class="card-body">
      <div class="row">

        <div class="form-group col-md-3">
          <label>Start Date</label>
          <input bsDatepicker
                 [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"  name="resignDate" [(ngModel)]="employee.startDate" class="form-control input" placeholder="start">
        </div>

        <div class="form-group col-md-3">
          <label>End Date</label>
          <input bsDatepicker
                 [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"  name="resignDate" [(ngModel)]="employee.endDate" class="form-control input" placeholder="end">
        </div>


        <div class="form-group col-md-3">
          <label>No of Days</label>
          <input type="number" class="form-control input" [(ngModel)]="employee.noOfDays" placeholder="number of days">
        </div>


        <div class="form-group col-md-3">
          <label>Leave Category</label>
          <select class="form-control input" name="fkLeaveCategory" [(ngModel)]="employee.fkLeaveCategory">
            <option value="" selected>Select Category</option>
            <option *ngFor="let lc of leaveCategories" [value]="lc.id">
              {{lc.categoryName}}
            </option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label>Remark</label>
          <textarea class="form-control input" [(ngModel)]="employee.remark" placeholder="cause"></textarea>
        </div>

        <div class="form-group col-md-3">
          <button class="btn btn-success btn-sm" (click)="assignLeave()">Assign</button>
        </div>

        <div class="col-md-12">
          <hr>
        </div>

        <h4 class="col-md-12" align="center">My Leave</h4>

        <table class="table table-bordered table-striped">
          <thead>
            <th style="text-align: center">Application Date</th>
            <th style="text-align: center">Leave Category</th>
            <th style="text-align: center">Status</th>
            <th style="text-align: center">Start Date</th>
            <th style="text-align: center">End Date</th>
            <th style="text-align: center">No of Days</th>
            <th style="text-align: center">Remarks</th>
            <th style="text-align: center">Reject Cause</th>
          </thead>
          <tbody>
            <tr *ngFor="let ml of myLeaves" [ngClass]="(ml.applicationStatus=='Pending')?'redcolumn':''">
              <td style="text-align: center">{{ml.applicationDate}}</td>
              <td style="text-align: center">{{ml.categoryName}}</td>
              <td style="text-align: center">{{ml.applicationStatus}}</td>
              <td style="text-align: center">{{ml.startDate}}</td>
              <td style="text-align: center">{{ml.endDate}}</td>
              <td style="text-align: center">{{ml.noOfDays}}</td>
              <td style="text-align: center">{{ml.remarks}}</td>
              <td style="text-align: center">{{ml.rejectCause}}</td>

            </tr>
          </tbody>
        </table>



      </div>
    </div>

  </div>

</div>
