<div class="card">

  <div class="card-body">



    <table datatable  id="example" class="table" [dtOptions]="dtOptions" [dtTrigger]="dtTeigger">
      <thead>
      <tr>
        <th>Head Name</th>
        <th>Head Type</th>
        <th>Description</th>
        <th>Group Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>



  </div>
</div>
