<div class="card" >
  <div class="card-header">
    Basic Info
  </div>

  <div class="card-body">
    <div class="row">


      <div class="form-group col-md-4">
        <label>Department</label>
        <select class="form-control">
          <option>department 1</option>
          <option>department 2</option>
          <option>department 3</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Designation</label>
        <select class="form-control">
          <option>designation 1</option>
          <option>designation 2</option>
          <option>designation 3</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Employee Type</label>
        <select class="form-control" name="fkEmployeeType">
          <option>Permanent</option>
          <option>Intern</option>
          <option>Contructual</option>
        </select>
      </div>

      <div class="col-md-12"><hr></div>

      <label class="col-md-1">Full Name</label>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Middle name">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" placeholder="Nick name">
      </div>

      <div class="col-md-12"><hr></div>

      <div class="form-group col-md-4">
        <label>Email</label>
        <input type="email" class="form-control" name="email" placeholder="email">
      </div>

      <div class="form-group col-md-4">
        <label>Contact Number</label>
        <input type="text" class="form-control" name="contactNo" placeholder="phone">
      </div>

      <div class="form-group col-md-4">
        <label>Contact Number</label>
        <input type="file" class="form-control" name="photo" placeholder="image">
      </div>

      <div class="col-md-12"><hr></div>

      <div class="form-group col-md-4">
        <label>Gender</label>
        &nbsp;
        &nbsp;
        &nbsp;

        <input type="radio" class="form-check-input" name="gender">Male

        &nbsp;
        &nbsp;
        &nbsp;

        <input type="radio" class="form-check-input" name="gender">Female

        &nbsp;
        &nbsp;
        &nbsp;

        <input type="radio" class="form-check-input" name="gender">Other


      </div>

      <div class="form-group col-md-4">
        <label>Date Of Birth</label>
        <input type="date" class="form-control" name="birthdate">
      </div>



    </div>
  </div>
</div>