<div class="card" >
  <div class="card-header">
    <h5>Basic Information</h5>
  </div>

  <div class="card-body">
    <div class="row">



      <div class=" form-group col-md-12">

        <label >First Name</label>

        <input type="text" class="form-control" placeholder="First name" [(ngModel)]="employeeBasicForm.firstName">

      </div>
      <br>
      <!--<div class="col-md-12"><hr></div>-->
      <div class=" form-group col-md-4">

        <label >Middle Name</label>

        <input type="text" class="form-control" placeholder="Middle name" [(ngModel)]="employeeBasicForm.middleName">

      </div>

      <div class="form-group col-md-4">
        <label >Last Name</label>
        <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="employeeBasicForm.lastName">
      </div>
      <div class="form-group col-md-4">
        <label >Nick Name</label>
        <input type="text" class="form-control" placeholder="Nick name" [(ngModel)]="employeeBasicForm.nickName">

      </div>

      <!--<div class="col-md-12"><hr></div>-->

      <div class="form-group col-md-4">
        <label>Department</label>
        <select class="form-control" (change)="selectDepartment($event.target.value)" [(ngModel)]="employeeBasicForm.department">
          <option value="">Select Department</option>
          <option *ngFor="let dept of department" [value]="dept.id">
            {{dept.departmentName}}
          </option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Designation</label>
        <select class="form-control" (change)="selectDesignation($event.target.value)" [(ngModel)]="employeeBasicForm.designation">
          <option value="">Select Designation</option>
          <option *ngFor="let desg of designation" [value]="desg.id">
            {{desg.title}}
          </option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Employee Type</label>
        <select class="form-control" name="fkEmployeeType" [(ngModel)]="employeeBasicForm.empType">
          <option value="">Select Employee Type</option>
          <option *ngFor="let type of empType" [value]="type.id">
            {{type.typeTitle}}
          </option>
        </select>
      </div>





      <!--<div class="col-md-12"><hr></div>-->

      <div class="form-group col-md-4">
        <label>Email</label>
        <input type="email" class="form-control" name="email" placeholder="email" [(ngModel)]="employeeBasicForm.email">
      </div>

      <div class="form-group col-md-4">
        <label>Contact Number</label>
        <input type="text" class="form-control" name="contactNo" placeholder="phone" [(ngModel)]="employeeBasicForm.contactNo">
      </div>

      <div class="form-group col-md-4">
        <label>Date Of Birth</label>
        <input type="date" class="form-control" name="birthdate" [(ngModel)]="employeeBasicForm.birthdate">
      </div>


      <!--<div class="col-md-12"><hr></div>-->

      <div class="form-group col-md-4">
        <label>Gender</label>

        &nbsp;&nbsp;<p style="margin-left: 20px">
        <input  type="radio" class="form-check-input" value="M" name="gender" [(ngModel)]="employeeBasicForm.gender">Male

        &nbsp;&nbsp;&nbsp;
        <input type="radio" class="form-check-input" value="F" name="gender" [(ngModel)]="employeeBasicForm.gender">Female

        &nbsp;&nbsp;&nbsp;
        <input type="radio" class="form-check-input" value="O" name="gender" [(ngModel)]="employeeBasicForm.gender">Other
        </p>
      </div>

      <div class="form-group col-md-8">
        <label>Image</label>
        <input type="file" class="form-control" name="photo" placeholder="image" (change)="onFileSelected($event)">
      </div>


      <div class="form-group col-md-12" align="right" style="margin-top: 20px" >
        <button  class="btn btn-lg btn-success " (click)="onSubmit()">Save Data</button>
      </div>



    </div>
  </div>
</div>