<!--The content below is only a placeholder and can be replaced.-->
<ng-template [ngIf]="loadPage">


<app-navbar *ngIf="isLogIn()"></app-navbar>

<ngx-spinner></ngx-spinner>
<div class="wrapper">
  <div class="col-md-4">
    <!-- <app-add-department [master]="master"></app-add-department> -->
    <!-- <app-add-designaton></app-add-designaton> -->
    <!--<app-pay-employee-salary-setup></app-pay-employee-salary-setup>-->
    <!--<app-add-leave></app-add-leave>-->
  </div>

  <router-outlet></router-outlet>
</div>
</ng-template>


