
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">

      <ul class="list-group">
        <li class="list-group-item" ><button class="btn btn-block btn-info" (click)="onInfoClick(1)">Basic Info </button></li>
        <li class="list-group-item"><button class="btn btn-block btn-info" (click)="onInfoClick(2)">Personal Info</button> </li>
        <li class="list-group-item"><button class="btn btn-block btn-info" (click)="onInfoClick(3)">Joining Info</button> </li>
        <li class="list-group-item"><button class="btn btn-block btn-info" (click)="onInfoClick(4)">Bank Info </button></li>
        <li class="list-group-item"><button class="btn btn-block btn-info" (click)="onInfoClick(5)">Salary Info </button></li>

      </ul>
    </div>




    <div class="col-md-10">
      <app-basic-info *ngIf="infoFlag ==1"></app-basic-info>
      <app-personal-info *ngIf="infoFlag ==2"></app-personal-info>
      <app-joining-info *ngIf="infoFlag ==3"></app-joining-info>
      <app-bank-info *ngIf="infoFlag ==4"></app-bank-info>
      <app-salary-info *ngIf="infoFlag ==5"></app-salary-info>


    </div>

  </div>

</div>
