<div class="container-fluid">


<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-4">
        <label>Select Employee</label>
        <select class="form-control">
          <option>Emp 1</option>
          <option>Emp 2</option>
          <option>Emp 3</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Select payhead</label>
        <select class="form-control">
          <option>Payhead 1</option>
          <option>Payhead 2</option>
          <option>Payhead 3</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Amount</label>
        <input type="number" class="form-control" placeholder="TK">
      </div>

      <div class="form-group col-md-4">
        <textarea class="form-control" placeholder="Description"></textarea>
      </div>


    </div>


  </div>
</div>

</div>