<div class="card">
  <div class="card-header-pills">
    <h3 align="center" style="font-family: 'Righteous', cursive;">Add Department</h3>
  </div>
  <div class="card-body">
    <div class="row">

      <div class="form-group col-md-6">
        <label>Department Name</label>
        <input type="text" class="form-control" placeholder="dept name" name="departmentName">
      </div>

      <div class="form-group col-md-6">
        <label>Department Level</label>
        <input type="number" class="form-control" placeholder="level" name="deptLevel">
      </div>

    </div>
  </div>
</div>