<div class="container">
  <div class="card">
    <div class="card-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label>Head</label>
            <select class="form-control" placeholder="pay-head" name="gradeTitle" [ngModel]="payGradeModel.gradeTitle">
              <option value="">Select Payhead</option>
              <option *ngFor="let data of payHeads" [value]="data.id">
                {{data.allowDeducTitle}}
              </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>BASIC</label>
            <input type="number" class="form-control" placeholder="basic" name="BASIC" [ngModel]="payGradeModel.BASIC">
          </div>

          <div class="form-group col-md-6">
            <label>eb1Rate</label>
            <input type="number" class="form-control" placeholder="%" name="eb1Rate" [ngModel]="payGradeModel.eb1Rate">
          </div>
          <div class="form-group col-md-6">
            <label>eb1MaxTime</label>
            <input type="number" class="form-control" placeholder="year" name="eb1MaxTime" [ngModel]="payGradeModel.eb1MaxTime">
          </div>
          <div class="form-group col-md-6">
            <label>eb2Rate</label>
            <input type="number" class="form-control" placeholder="%" name="eb2Rate" [ngModel]="payGradeModel.eb2Rate">
          </div>
          <div class="form-group col-md-6">
            <label>eb2MaxTime</label>
            <input type="number" class="form-control" placeholder="year" name="eb2MaxTime" [ngModel]="payGradeModel.eb2MaxTime">
          </div>
          <div class="form-group col-md-6">
            <label>DESCRIPTION</label>
            <input class="form-control" placeholder="description" name="DESCRIPTION" [ngModel]="payGradeModel.DESCRIPTION">
          </div>

        </div>
    </div>
  </div>
</div>

