<div class="row m-2">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        Appraisal Scale Setup
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>Scale Point</label>
          <input type="text" class="form-control" placeholder="Enter Scale..">
          <small>Only number allowed and not more then 2 digit</small>
        </div>

        <div class="form-group">
          <label>Scale Title</label>
          <input type="text" class="form-control" placeholder="Enter Title..">
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" placeholder="Describe about scale point..">
        </div>

        <div class="form-group">
          <label>Version No</label>
          <input type="text" class="form-control" placeholder="Enter Version no..">
          <small>Only number allowed</small>
        </div>

        <button class="btn btn-secondary">Clear Data</button>
        <button class="btn btn-success">Save</button>


      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        Existing Data
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead>
            <th>Scale</th>
            <th>Title</th>
            <th>Version</th>
            <th>Description</th>
            <th>Action</th>
          </thead>

        </table>
      </div>
    </div>
  </div>



</div>