/*table, th, td {*/
    /*border: 2px solid ;*/
/*}*/
.Border{
    border: 2px solid ;
    background-color: #BDD7EE;
}
.cell{
    text-align: center;vertical-align: middle;
}
.late{
    /*background-color: #FF0000;*/
    /*color: #ffffff;*/

    color: #FF0000;
}


