<div class="row m-2">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">Create Template for Appraisal</div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-md-12">
            <label>Template Name</label>
            <input class="form-control" placeholder="enter template name" name="formatName" [(ngModel)]="formateModel.formatName">
          </div>
          <div class="form-group col-md-6">
            <label>Template Version No</label>
            <input class="form-control" placeholder="enter appraisal head" name="formVersionNo" [(ngModel)]="formateModel.formVersionNo">
          </div>
          <div class="form-group col-md-6">
            <label>Scale Version No</label>
            <select class="form-control" (change)="scalVersionDetails(this.selectedIndex)" id="markVersionNo" name="markVersionNo" [(ngModel)]="formateModel.markVersionNo">
              <option *ngFor="let scal of appraisalScal;let i = index" >{{scal.versionNo}}</option>

            </select>
          </div>

        </div>

        <h3>Select Appraisal Heads with Appraiser</h3>
        <table class="table">
          <thead>
            <tr>
              <th width="100%">Appraisal Head</th>
<!--              <th width="30%">Action</th>-->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of headData;let i = index">
              <td>
                <input type="checkbox" [(ngModel)]="data.s" (click)="checkData(data,i,$event)">
                {{data.headName}}
                <br *ngIf="data.s == true">

                <label class="checkbox-inline" *ngIf="data.s == true">
                  <input type="checkbox"  [(ngModel)]="headData[i].userSelf" ngDefaultControl> UserSelf
                </label>
                &nbsp;
                &nbsp;
                <label class="checkbox-inline" *ngIf="data.s == true" >
                  <input type="checkbox"  [(ngModel)]="headData[i].reportingBoss" ngDefaultControl> Reporting Boss
                </label>
                &nbsp;
                &nbsp;
                <label class="checkbox-inline" *ngIf="data.s == true">
                  <input type="checkbox"   [(ngModel)]="headData[i].subOrdinates" ngDefaultControl>Sub-Ordinates
                </label>
                &nbsp;
                &nbsp;
                <label class="checkbox-inline" *ngIf="data.s == true" >
                  <input type="checkbox"  [(ngModel)]="headData[i].coWorker" ngDefaultControl>Co-Worker
                </label>




              </td>

<!--              <td>-->
<!--                <select class="form-control" [(ngModel)]="headData[i].action" *ngIf="data.headType == 'NM'">-->
<!--                  <option value="5">Excellent</option>-->
<!--                  <option value="4">Good</option>-->
<!--                  <option value="3">Average</option>-->
<!--                  <option value="2">Below Average</option>-->
<!--                  <option value="1">Poor</option>-->
<!--                </select>-->
<!--                <input type="text" placeholder="write something" class="form-control" [(ngModel)]="headData[i].action" *ngIf="data.headType == 'DS'">-->

<!--                <select class="form-control" [(ngModel)]="headData[i].action" *ngIf="data.headType == 'TF'">-->

<!--                  <option value="1">True</option>-->
<!--                  <option value="0">False</option>-->
<!--                </select>-->
<!--              </td>-->


            </tr>
          </tbody>
        </table>

        <button class="btn btn-sm btn-success" (click)="saveData()">Save Data</button>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="alert alert-info">Scale Points Details by version</h4>
        Version No :{{formateModel.markVersionNo}}
        <table class="table table-bordered">
          <thead>
          <th>Marks</th>
          <th>Title</th>
          </thead>
          <tbody>
          <tr *ngFor="let newdata of appraisalScalDetails;let i = index" >
            <td>{{newdata.marks}}</td>
            <td>{{newdata.title}}</td>
          </tr>
          </tbody>


        </table>

        <h4 class="alert alert-info">Existing Templates</h4>
        <table class="table table-bordered">
          <thead>
          <th>Template Name</th>
          <th>Version No</th>
          <th>Scale Version</th>
          <th>Action</th>
          </thead>
          <tbody>
          <tr *ngFor="let datas of existingTemplate;let i = index">
            <td>{{datas.formatName}}</td>
            <td>{{datas.formVersionNo}}</td>
            <td>{{datas.markVersionNo}}</td>
            <td>
              <button class="btn btn-success pull-right" (click)="editTemplate(datas.id)" type="submit">Edit</button>
            </td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>

  </div>
</div>
