<div class="card">
  <div class="card-header-pills"> <h3 align="center" style="font-family: 'Righteous', cursive;">Designation</h3></div>
  <div class="card-body">
    <div class="row">

      <div class="form-group col-md-6">
        <label>Title</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="designationForm.title">
      </div>

      <div class="form-group col-md-6">
        <label>Short Name</label>
        <input type="text" class="form-control" name="shortName" [(ngModel)]="designationForm.shortName">
      </div>

      <div class="form-group col-md-6">
        <label>Salary Grade</label>
        <input type="text" class="form-control" name="salaryGrade" [(ngModel)]="designationForm.salaryGrade">
      </div>

      <div class="form-group col-md-6">
        <label>Designation Level</label>
        <!--<select name="desigLevel" class="form-control">-->
          <!--<option>level 1</option>-->
          <!--<option>level 2</option>-->
          <!--<option>level 3</option>-->
        <!--</select>-->
        <input type="number" class="form-control" name="desigLevel" [(ngModel)]="designationForm.desigLevel">

      </div>

      <div class="form-group col-md-2" *ngIf="checkId();else other_content">
        <button class="btn btn-success" (click)="onSubmit()">Insert</button>
      </div>

      <ng-template #other_content>
        <div class="form-group col-md-2">
          <button class="btn btn-success" (click)="onSubmit()">Update</button>
        </div>
      </ng-template>
      <div class="form-group col-md-2">
        <button class="btn btn-danger" (click)="reset()">Reset</button>
      </div>



      <table class="table table-striped">
        <thead>
        <tr>
          <th>Designation Name</th>
          <th>shortName</th>
          <th>salaryGrade</th>
          <th>desigLevel</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let desig of designation">
          <td>{{desig.title}}</td>
          <td>{{desig.shortName}}</td>
          <td>{{desig.salaryGrade}}</td>
          <td>{{desig.desigLevel}}</td>
          <td>
            <!--<button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button>-->
            <button class="btn btn-danger" style="margin-left: 20px;" (click)="editDsig(desig)">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>





    </div>


  </div>

</div>