<!--modal-->
<ng-template #content let-c="close" let-d="dismiss" >
    <div class="modal-header">
        <h4 class="modal-title">Pay Head</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="form-group col-md-6">
                <label>Allow Deduc Title</label>
                <input type="text" [(ngModel)]="editModel.allowDeducTitle" placeholder="allowDeducTitle" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label>description</label>
                <input type="text" [(ngModel)]="editModel.description" class="form-control">
            </div>

            <div class="form-group col-md-6">
                <label>Allow Deduction Type</label>

                <select class="form-control" name="allowDeducType" [(ngModel)]="editModel.allowDeducType"  required>
                    <option selected value="">Select type</option>
                    <option>Allowance</option>
                    <option>Deduction</option>
                </select>
                <!--<div *ngIf="myForm.submitted && allowDeducType.invalid" class="alert alert-danger">-->
                    <!--<div *ngIf="allowDeducType.errors.required">allowDeducType required</div>-->
                <!--</div>-->
                <div class="form-group col-md-6">
                    <label>Applicable</label>
                    <input type="checkbox"  name="applicable" class="form-control" [(ngModel)]="editModel.applicable"  #applicable="ngModel"   >
                </div>

            </div>
            <div class="form-group col-md-12">

                <button class="btn btn-success pull-right" (click)="update()">Submit</button>
            </div>


        </div>

    </div>
</ng-template>




<div class="card">
    <div class="card-header-pills">
        <h3 align="center" style="font-family: 'Righteous', cursive;">Pay Head</h3>
    </div>
    <div class="card-body">
        <!--<pre>{{myForm.value | json}}</pre>-->
        <form #myForm="ngForm" (ngSubmit)="myForm.form.valid && onSubmit()" novalidate>
            <div class="row">


                <div class="form-group col-md-6">
                    <label>Allow Deduction Title</label>
                    <input class="form-control" placeholder="title" required [(ngModel)]="model.allowDeducTitle" #allowDeducTitle="ngModel" name="allowDeducTitle">

                    <div *ngIf="myForm.submitted && allowDeducTitle.invalid" class="alert alert-danger">
                        <div *ngIf="allowDeducTitle.errors.required">Allow Deduction required</div>
                    </div>
                </div>



                <div class="form-group col-md-6">
                    <label>Description</label>
                    <input type="text" placeholder="description" required [(ngModel)]="model.description"  #description="ngModel" class="form-control" name="description">
                    <div *ngIf="myForm.submitted && description.invalid" class="alert alert-danger">
                        <div *ngIf="description.errors.required">Description required</div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>Allow Deduction Type</label>

                    <select class="form-control" name="allowDeducType" [(ngModel)]="model.allowDeducType"  #allowDeducType="ngModel" required>
                        <option selected value="">Select type</option>
                        <option>Allowance</option>
                        <option>Deduction</option>
                    </select>
                    <div *ngIf="myForm.submitted && allowDeducType.invalid" class="alert alert-danger">
                        <div *ngIf="allowDeducType.errors.required">allowDeducType required</div>
                    </div>

                </div>

                <div class="form-group col-md-6">
                    <label>Applicable</label>
                    <input type="checkbox"  name="applicable" class="form-control" [(ngModel)]="model.applicable"  #applicable="ngModel"   >
                </div>

                <div class="form-group col-md-6">
                    <button class="btn btn-success">Submit</button>
                </div>


            </div>
        </form>


        <br>
        <hr>
        <h3 align="center">All Pay Heads</h3>
        <br>

        <table datatable  id="example" class="table" [dtOptions]="dtOptions" [dtTrigger]="dtTeigger">
            <thead>
            <tr>
                <th>Allow Deduc Title</th>
                <th>Allow Deduc Type</th>
                <th>Description</th>
                <th>Applicable</th>
                <th>Action</th>
            </tr>

            </thead>
            <tbody >

            <tr  *ngFor="let data of payHeadData" >
                <td>{{data.allowDeducTitle}}</td>
                <td>{{data.allowDeducType}}</td>
                <td>{{data.description}}</td>
                <td>{{data.applicable}}</td>
                <td>  <button class="btn btn-info btn-sm" (click)="edit(data,content)"> Edit</button></td>
                <!--<td>  <button class="btn btn-info" (click)="edit(shift.shiftId,content)"> Edit</button></td>-->

            </tr>

            </tbody>

        </table>
    </div>
</div>