<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="row">

          <!--        <input name="recentJoinDate" bsDatepicker-->
          <!--               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="salaryModel.date"  class="form-control">-->

          <div class="col-md-2 form-group">
            <label>appraisalYear  <span style="color: red">*</span></label>
            <input type="number" class="form-control" [(ngModel)]="configurationModel.appraisalYear"
                   name="appraisalYear" #appraisalYear="ngModel">
          </div>

<!--          <div class="col-md-2 form-group">-->
<!--            <label>appraise</label>-->
<!--            <input type="text" class="form-control" [(ngModel)]="configurationModel.appraise" name="appraise"-->
<!--                   #appraise="ngModel">-->
<!--          </div>-->


          <div class="col-md-2 form-group">
            <label>appraisalStart <span style="color: red">*</span></label>
            <input name="appraisalStart" bsDatepicker
                   [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" class="form-control"
                   [(ngModel)]="configurationModel.appraisalStart" #appraisalStart="ngModel">

          </div>

          <div class="col-md-2 form-group">
            <label>appraisalEnd <span style="color: red">*</span></label>
            <input name="appraisalEnd" bsDatepicker
                   [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" class="form-control"
                   [(ngModel)]="configurationModel.appraisalEnd" #appraisalEnd="ngModel">
          </div>

          <div class="col-md-2 form-group">
            <label>appraisalStatus <span style="color: red">*</span></label>
            <!--          0 = Pending, 1 = Done, 2 = Cancel-->
            <select class="form-control" [(ngModel)]="configurationModel.appraisalStatus" name="appraisalStatus"
                    #appraisalStatus="ngModel">
              <option value="0">Pending</option>
              <option value="1">Done</option>
              <option value="2">Cancel</option>
            </select>
          </div>
          <div class="col-md-2 form-group">
            <label>remarks</label>
            <input type="text" class="form-control" [(ngModel)]="configurationModel.remarks" name="remarks"
                   #remarks="ngModel">
          </div>

          <div class="col-md-2 form-group">
            <!--          <button class="btn btn-success" (click)="submit()">Submit</button>-->
            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
          </div>


        </div>
      </form>
    </div>
  </div>


</div>


<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">Appraise Employee <span style="color: red">*</span></div>

    <div class="card-body">

      <table datatable class="table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
        <tr>
          <th style="text-align: center"><input type="checkbox" class="SelectAll" id="selectall2"  (click)="selectAll()"/></th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Employee ID</th>
          <th>Designation</th>
          <th>Department</th>
<!--          <th>Action</th>-->
        </tr>
        </thead>

        <tbody>

        </tbody>

      </table>


    </div>
  </div>


</div>


