<div class="card">
  <div class="card-header">
    Personal Info
  </div>

  <div class="card-body">
    <div class="row">

      <div class="form-group col-md-6">
        <label>Fathers Name</label>
        <input type="text" class="form-control" name="fatherName" [(ngModel)]="employeePersonalForm.fatherName" placeholder="father's name">
      </div>

      <div class="form-group col-md-6">
        <label>Mothers Name</label>
        <input type="text" class="form-control" name="motherName" [(ngModel)]="employeePersonalForm.motherName" placeholder="mother's name">
      </div>

      <div class="form-group col-md-6">
        <label>Marital Status</label>
        <select class="form-control" name="maritalStatus" [(ngModel)]="employeePersonalForm.maritalStatus" >
          <option value="">Select Status</option>
          <option value="S">Single</option>
          <option value="M">Married</option>
          <option value="W">Devorced</option>
        </select>
      </div>


      <div class="form-group col-md-6">
        <label>Spouse Name</label>
        <input type="text" class="form-control" name="spouseName" [(ngModel)]="employeePersonalForm.spouseName" placeholder="spouse">
      </div>

      <div class="form-group col-md-6">
        <label>Religion</label>
        <select class="form-control" name="religion" [(ngModel)]="employeePersonalForm.fkReligion">
          <option value="">Select religion</option>
            <option *ngFor="let reli of religion" [value]="reli.id">
                {{reli.religionName}}
            </option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label>Nationality</label>
        <select class="form-control" name="fkNationality" [(ngModel)]="employeePersonalForm.fkNationality">
          <option value="">Select nationality</option>
            <option *ngFor="let nation of nationality" [value]="nation.code">
                {{nation.Name}}
            </option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label>National Id</label>
        <input type="text" class="form-control" name="nationalId" [(ngModel)]="employeePersonalForm.nationalId" placeholder="National Id">
      </div>


      <div class="col-md-12">
        <hr>
      </div>



      <div class="form-group col-md-6">
        <label>Present Street</label>
        <input type="text" class="form-control" name="presentStreet" [(ngModel)]="employeePersonalForm.presentStreet" placeholder="present street">
      </div>

      <div class="form-group col-md-6">
        <label>Present Police Station</label>
        <input type="text" class="form-control" name="presentPS" [(ngModel)]="employeePersonalForm.presentPS" placeholder="present PS">
      </div>



      <div class="form-group col-md-6">
        <label>Present Zipcod</label>
        <input type="text" class="form-control" name="presentZipcod" [(ngModel)]="employeePersonalForm.presentZipcod" placeholder="Present Zip">
      </div>

      <div class="col-md-12">
        <hr>
      </div>

      <div class="form-group col-md-6">
        <label>Permanent Street</label>
        <input type="text" class="form-control" name="permanentStreet" [(ngModel)]="employeePersonalForm.permanentStreet" placeholder="permanent street">
      </div>

      <div class="form-group col-md-6">
        <label>Permanent Police Station</label>
        <input type="text" class="form-control" name="permanentPS" [(ngModel)]="employeePersonalForm.permanentPS" placeholder="permanent PS">
      </div>



      <div class="form-group col-md-6">
        <label>Permanent Zipcod</label>
        <input type="text" class="form-control" name="permanentZipcod" [(ngModel)]="employeePersonalForm.permanentZipcod" placeholder="permanent Zip">
      </div>

      <div class="form-group col-md-12">
        <button class="btn btn-success" (click)="submit()">Save</button>
      </div>


    </div>
  </div>
</div>