<div class="card">
  <div class="card-header">
    Personal Info
  </div>

  <div class="card-body">
    <div class="row">

      <div class="form-group col-md-6">
        <label>Fathers Name</label>
        <input type="text" class="form-control" name="fatherName" placeholder="father">
      </div>

      <div class="form-group col-md-6">
        <label>Mothers Name</label>
        <input type="text" class="form-control" name="motherName" placeholder="mother">
      </div>

      <div class="form-group col-md-6">
        <label>Marital Status</label>
        <select class="form-control" name="maritalStatus">
          <option>Single</option>
          <option>Married</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label>Spouse Name</label>
        <input type="text" class="form-control" name="spouseName" placeholder="spouse">
      </div>

      <div class="form-group col-md-6">
        <label>Religion</label>
        <select class="form-control" name="religion">
          <option>Islam</option>
          <option>Hindu</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label>Nationality</label>
        <select class="form-control" name="fkNationality">
          <option>Bangladeshi</option>
          <option>Indian</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label>National Id</label>
        <input type="text" class="form-control" name="nationalId" placeholder="National Id">
      </div>


      <div class="col-md-12">
        <hr>
      </div>



      <div class="form-group col-md-6">
        <label>Present Street</label>
        <input type="text" class="form-control" name="presentStreet" placeholder="present street">
      </div>

      <div class="form-group col-md-6">
        <label>Present Police Station</label>
        <input type="text" class="form-control" name="presentPS" placeholder="present PS">
      </div>



      <div class="form-group col-md-6">
        <label>Present Zipcod</label>
        <input type="text" class="form-control" name="presentZipcod" placeholder="Present Zip">
      </div>

      <div class="col-md-12">
        <hr>
      </div>

      <div class="form-group col-md-6">
        <label>Permanent Street</label>
        <input type="text" class="form-control" name="permanentStreet" placeholder="permanent street">
      </div>

      <div class="form-group col-md-6">
        <label>Permanent Police Station</label>
        <input type="text" class="form-control" name="permanentPS" placeholder="permanent PS">
      </div>



      <div class="form-group col-md-6">
        <label>Permanent Zipcod</label>
        <input type="text" class="form-control" name="permanentZipcod" placeholder="permanent Zip">
      </div>


    </div>
  </div>
</div>