<div class="card">
  <div class="card-header">
    Joining Info
  </div>

  <div class="card-body">
    <div class="row">

      <div class="form-group col-md-6">
        <label>Actual Join Date</label>
        <input type="date" name="actualJoinDate" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Recent Join Date</label>
        <input type="date" name="recentJoinDate" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Resign Date</label>
        <input type="date" name="resignDate" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Weekend</label>
        <input type="text" name="weekend" placeholder="day" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Access Pin</label>
        <input type="text" name="accessPin" placeholder="pin" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Schedule In Time</label>
        <input type="text" name="scheduleInTime" placeholder="in time" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Schedule Out Time</label>
        <input type="text" name="scheduleOutTime" placeholder="out time" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Special Allowance</label>
        &nbsp;
        <input type="checkbox" name="specialAllowance">
      </div>


    </div>
  </div>
</div>