<div class="card">
  <div class="card-header">
    Joining Info
  </div>

  <div class="card-body">
    <div class="row">

      <div class="form-group col-md-6">
        <label>Actual Join Date</label>

        <input class="form-control"
               bsDatepicker
                [(ngModel)]="employeeJoiningForm.actualJoinDate"
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD'}">
      </div>

      <div class="form-group col-md-6">
        <label>Recent Join Date</label>
        <input name="recentJoinDate" bsDatepicker
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="employeeJoiningForm.recentJoinDate" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Resign Date</label>
        <input bsDatepicker
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"  name="resignDate" [(ngModel)]="employeeJoiningForm.resignDate" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Supervisor</label>
        <input type="text" name="supervisor" placeholder="name" [(ngModel)]="employeeJoiningForm.supervisor" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Probation Period</label>
        <input type="text" name="probationPeriod" placeholder="month" [(ngModel)]="employeeJoiningForm.probationPeriod" class="form-control">
      </div>

      <div class="form-group col-md-6">
        <label>Weekend</label>
        <input type="text" name="weekend" placeholder="day" [(ngModel)]="employeeJoiningForm.weekend" class="form-control">
      </div>

      <div class="form-group col-md-3">
        <label>Access Pin</label>
        <input type="text" name="accessPin" placeholder="pin" [(ngModel)]="employeeJoiningForm.accessPin" class="form-control">
      </div>
      <div class="form-group col-md-3">
        <label>Attendance Device Pin</label>
        <input type="text" name="accessPin" placeholder="pin" [(ngModel)]="employeeJoiningForm.attDeviceUserId" class="form-control">
      </div>



      <div class="form-group col-md-6">
        <label>Shift</label>
        <select class="form-control" name="shift"   (change)="selectShift($event.target.value)">
          <option value="">Select Shift</option>
          <option *ngFor="let sh of shift" [value]="sh.shiftId" [selected]="sh.shiftId==employeeJoiningForm.shiftId">
            {{sh.shiftName}}
          </option>
        </select>
      </div>

      <!--<div class="form-group col-md-6">-->
        <!--<label>Shift</label>-->
        <!--<select class="form-control" name="shift"   (change)="selectShift($event.target.value)">-->
          <!--<option value="">Select Shift</option>-->
          <!--<option *ngFor="let sh of shift" [value]="sh.shiftId" [selected]="deg.id==educationForm.degreeId">-->
            <!--{{sh.shiftName}}-->
          <!--</option>-->
        <!--</select>-->
      <!--</div>-->


      <div class="form-group col-md-6">
        <label>Schedule In Time</label>
        <input type="time" name="scheduleInTime" placeholder="in time" [(ngModel)]="employeeJoiningForm.scheduleInTime" class="form-control" readonly>
      </div>

      <div class="form-group col-md-6">
        <label>Schedule Out Time</label>
        <input type="time" name="scheduleOutTime" placeholder="out time" [(ngModel)]="employeeJoiningForm.scheduleOutTime" class="form-control" readonly>
      </div>

      <div class="form-group col-md-6">
        <label>Special Allowance</label>
        &nbsp;<input type="checkbox" name="specialAllowance" [(ngModel)]="employeeJoiningForm.specialAllowance">
      </div>




      <div class="col-md-12">
        <button class="btn btn-success" (click)="submit()">Save</button>
      </div>


    </div>
  </div>
</div>