<div class="card">
  <div class="card-header">
    <h4 align="center">
      Emergency Contact
    </h4>
  </div>
  <div class="card-body">
    <div *ngFor="let p of error" class="alert alert-secondary" role="alert">
      {{p}}
    </div>
    <div class="row">
        <div class="form-group col-md-4">

          <label >First Name</label>

          <input type="text" class="form-control" placeholder="First name" [(ngModel)]="emergencyForm.firstName" required>

        </div>
        <br>
        <!--<div class="col-md-12"><hr></div>-->
        <div class=" form-group col-md-4">

          <label >Middle Name</label>

          <input type="text" class="form-control" placeholder="Middle name" [(ngModel)]="emergencyForm.middleName" required>

        </div>

        <div class="form-group col-md-4">
          <label >Last Name</label>
          <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="emergencyForm.lastName" required>
        </div>


        <div class="form-group col-md-4">
          <label>Contact Number</label>
          <input type="text" class="form-control" name="contactNo" placeholder="phone" [(ngModel)]="emergencyForm.contactNo" required>
        </div>
        <div class="form-group col-md-4">
          <label>Alternative Number</label>
          <input type="text" class="form-control" name="contactNo" placeholder="alternative phone" [(ngModel)]="emergencyForm.alterContactNo" required>
        </div>
        <div class="form-group col-md-4">
          <label>Address</label>
          <textarea class="form-control" [(ngModel)]="emergencyForm.address"></textarea>
        </div>

        <div class="form-group col-md-12">
          <button class="btn btn-success pull-right" (click)="submitForm()">Submit</button>
        </div>

      </div>
  </div>
</div>