<div class="card">
    <div class="card-header">
        Bank Info
    </div>

    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Pf Acount</label>
                <input type="text" class="form-control" name="pfAccountNo">
            </div>

            <div class="form-group col-md-6">
                <label>Bank Acount</label>
                <input type="text" class="form-control" name="bankAccountNo">
            </div>

            <div class="form-group col-md-6">
                <label>Tin Id</label>
                <input type="text" class="form-control" name="tinId">
            </div>


        </div>
    </div>
</div>