
<div class="container-fluid">
  <div class="row">

    <div class="col-md-2">

      <ul class="list-group ">
        <li class="list-group-item" ><button style="background-color: #1FB0E5" class="btn btn-block " (click)="onInfoClick(1)">Company Info </button></li>
        <li class="list-group-item"><button style="background-color: #1FB0E5" class="btn btn-block " (click)="onInfoClick(2)">Designation Info</button> </li>
        <li class="list-group-item"><button style="background-color: #1FB0E5" class="btn btn-block " (click)="onInfoClick(3)">Department Info</button> </li>
        <li class="list-group-item"><button style="background-color: #1FB0E5" class="btn btn-block " (click)="onInfoClick(4)">Other</button> </li>
      </ul>
    </div>

    <div class="col-md-10">
      <app-add-company *ngIf="infoFlag ==1"></app-add-company>
      <app-add-designaton *ngIf="infoFlag ==2"></app-add-designaton>
      <app-add-department [master]="master" *ngIf="infoFlag ==3"></app-add-department>
      <app-company-other *ngIf="infoFlag ==4"></app-company-other>
    </div>




  </div>
</div>
