
<!--modal-->
<ng-template #content let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <h4 class="modal-title">Shift</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="form-group col-md-6">
        <label>Team Name</label>
        <input type="text" [(ngModel)]="teamObj.teamName" placeholder="shift" class="form-control">
      </div>

      <div class="form-group col-md-12">

        <button class="btn btn-success pull-right" (click)="onSubmit()">Submit</button>
      </div>


    </div>

  </div>
</ng-template>

<!--modal end-->
<div class="container">
  <div class="card">
    <div class="card-header">Team Details</div>

    <div class="card-body">
      <a style=" float: right" class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)" >Add New</a>  <br><br>
      <div class="table-responsive">
      <table datatable  id="example" class="table" [dtOptions]="dtOptions" [dtTrigger]="dtTeigger">
        <thead>
        <tr>
          <th>Shift Name</th>
          <th>Action</th>
        </tr>

        </thead>
        <tbody >

        <tr  *ngFor="let shift of teams" >
          <td>{{shift.teamName}}</td>
          <!--<td>{{shift.inTime}}</td>-->
          <!--<td>{{shift.outTime}}</td>-->
          <td>  <button class="btn btn-info" (click)="edit(shift.teamId,content)"> Edit</button></td>

        </tr>

        </tbody>

      </table>
      </div>


    </div>
  </div>


</div>
